*{
    margin: 0;
    padding: 0;
}
ul,body,li,a{
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    font-family: 'freshskin';
    
}

@font-face{
     font-family: 'freshskin'; 
     src:url('../fonts/iconfont.ttf');
     
}

.nav{
    width: 100%;
    background-color: #0a2325;
    height: 50px;
    line-height: 50px;
}
.left{
    margin-left: 150px;
}
.left li{
    float: left;
    width: 100px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;

}
.right{
    margin-right: 150px;
}
.right li{
    float: right;
    width: 100px;
    color: #fff;
    height: 50px; 
    line-height: 50px;

}
.nav_2{
    width: 100%;
    height: 80px;
    background-color: #ccc;
    opacity: 0.5;
}
.nav_2 .left_2{
    margin-left: 150px;
}
.nav_2 .left_2 li{
    text-align: center;
    float: left;
    height: 80px;
    line-height: 80px;
    margin-left: 20px;

}
.nav_2 .right_2{
    margin-right: 150px;
    
}
.nav_2 .right_2 li{
    text-align: center;
    width: 40px;
    float: right;
    height: 40px;
    line-height: 40px;
    font-size: 18px;;
    border: 1px #CCc456 solid;
    border-radius: 50%;
    
}
.banner{
    width: 1366px;
    height: 600px;
    overflow: hidden;
    position: relative;
    margin: auto;
    
}

.banner p{
	z-index: 999;
	margin: auto;
	position: absolute;
	top:50%;
	left:25%;
	font-size: 18px;
	color: #fff;
	opacity: 0;
}

body:hover p{
	opacity: 1;
	transition: all 0.8s ease-in 0s;
}
.jiantou{
	position: absolute;
	top: 70%;
	left: 50%;
	width: 40px;
	height: 30px;
	padding-top: 10px;
	border-radius: 20px;
	box-shadow: 0 0 0 1px #fff inset;
	text-align: center;
	line-height: 40px;
	transition: all 0.8s ease-in 0s;
	transform: translate(-50%,0);
	opacity: 0;
}
body:hover .jiantou{
	opacity: 1;
}
.button{
	position: absolute;
	top: 90%;
	left: 45%;	
}
.button .but{
	float: left;
	width: 28px;
	height:1px ;
	border: 1px solid #D6D6D6;
	margin-left: 20px;
}
.button li{
	cursor: pointer;
}
.button .current{
	background: #2FADE7;
	float: left;
	width:28px;
	height: 1px;
	border: 1px solid #90D1D5;

}
.container{
	width: 100%;
	background-color: #FFFFFF;
	overflow: hidden;
}
.container .title_box {
	text-align: center;
	height: 50px;
	line-height: 80px;
	margin-bottom: 20px;
}
.img_box{
	width: 1000px;
	margin: auto;
	position: relative;
	overflow: hidden;
}
.img_box a:nth-of-type(1) img{
	width: 610px;
	height: 410px;
	float: left;
	margin-bottom: 10px;
	
	
}
.img_box a:nth-of-type(2) img{
	width: 300px;
	float: right;
	height: 200px;
	margin-bottom: 10px;
	margin-right: 80px;
	
}
.img_box a:nth-of-type(3) img{
	float: right;
	height: 200px;
	width: 300px;
	margin-bottom: 10px;
	margin-right: 80px;
	
}
.img_box a:nth-of-type(4) img{
	float: right;
	height: 200px;
	width: 300px;
	margin-right: 80px;
}
.img_box a:nth-of-type(5) img{
	float: left;
	height: 200px;
	width: 300px;
	margin-right: 10px;
}
.img_box a:nth-of-type(6) img{
	float: left;
	height: 200px;
	width: 300px;
	
}
hr{
	width: 1000px;
	margin:10px auto;
}
.title_box2 {
	text-align: center;
	height: 50px;
	line-height: 80px;
	margin-bottom: 20px;
}
.img_box2{
	width: 1000px;
	margin: auto;
}
.img_box2 img{
	width: 490px;
}

.footer{
	margin-top: 100px;
	height: 80px;
	width: 100%;
	background-color:#0a2325;
	position: relative;
}
.footer span{
	color: #FFFFFF;
	position: absolute;
	left: 50%;
	top: -30px;
	background-image: url(../image/sanjiao.png);
	width: 58px;
	height: 32px;
	z-index: 999;
	color: #fff;
	text-align: center;
	line-height: 32px;
	}
	.footer p{
		color: #FFF;
		text-align: center;
		line-height: 80px;
	}